@media screen and (max-width: 480px) {
    
    .THIS .smdgcol{
        display:block;
        padding:10px;
    }
}
.THIS.slds-is-sortable
{
    cursor:pointer;
}
.THIS .smdgcolheader
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}